<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneymanagement_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".category_settings"></activity>
        <activity android:name=".option_icon" />
        <activity android:name=".category_add" />
        <activity android:name=".category_edit" />
        <activity android:name=".category" />
        <activity android:name=".future_amounts" />
        <activity android:name=".category_update" />
        <activity android:name=".activity_income" />
        <activity android:name=".activity_expense" />
        <activity android:name=".budget_update" />
        <activity
            android:name=".infobudget"
            android:label="@string/title_activity_infobudget"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".expense_creating"
            android:label="@string/title_activity_expense_creating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".budget_creating"
            android:label="@string/title_activity_budget_creating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>