<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhom10.moneymanagement_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nhom10.moneymanagement_android.singleCategory"></activity>
        <activity android:name="com.nhom10.moneymanagement_android.infoIncome" />
        <activity android:name="com.nhom10.moneymanagement_android.infoExpense" />
        <activity android:name="com.nhom10.moneymanagement_android.future_amounts" />
        <activity android:name="com.nhom10.moneymanagement_android.category_settings" />
        <activity android:name="com.nhom10.moneymanagement_android.option_icon" />
        <activity android:name="com.nhom10.moneymanagement_android.category_add" />
        <activity android:name="com.nhom10.moneymanagement_android.category_edit" />
        <activity android:name="com.nhom10.moneymanagement_android.category" />
        <activity android:name="com.nhom10.moneymanagement_android.future_amounts" />
        <activity android:name="com.nhom10.moneymanagement_android.category_update" />
        <activity android:name="com.nhom10.moneymanagement_android.activity_income" />
        <activity android:name="com.nhom10.moneymanagement_android.activity_expense" />
        <activity android:name="com.nhom10.moneymanagement_android.budget_update" />
        <activity
            android:name="com.nhom10.moneymanagement_android.infobudget"
            android:label="@string/title_activity_infobudget"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nhom10.moneymanagement_android.expense_creating"
            android:label="@string/title_activity_expense_creating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nhom10.moneymanagement_android.budget_creating"
            android:label="@string/title_activity_budget_creating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nhom10.moneymanagement_android.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>